.results-container, .favorites-container {
    display: block;
    justify-content: center;
    background-color: rgb(24, 202, 202);
    border: 2px solid black;

}
.resultsDiv {
    margin-bottom: 40px;
    color: black;
    background-color: rgb(160, 166, 172);
    text-align: center;
}

.header, .figure, .brewery-container, .joke-container {
    text-align: center;
}
.brewery-container{
    background-color: rgb(24, 202, 202);
}

.card-content {
    background-color: slategray ;
}

.footer{
    text-align: center;
}
.btn-wrapper {
    margin-bottom: 2rem;
}
.brewFave {
    padding: 1.2rem;
    margin-bottom: 1rem;
    background-color: white;
}
.h2ForHeader {
    text-decoration: underline;
}
.breweryDataName {
    cursor: pointer;
}
.results-container-header, .favorites-container-header{
    text-align: center;
}