/* Centered the header, image, and container for the brewery and joke */
.header,
.figure,
.brewery-container,
.joke-container {
  text-align: center;
}
/* changed the color of the joke container */
.card-content {
  background-color: slategray;
}
.menu {
  position: relative;
}
/* Style for window */
.buble {
    position: relative;
    top: 50px;
    left: 50px;

}
/* put space between buttons and results container */
.btn-wrapper {
  margin-bottom: 2rem;
}
/* Styling for buttons */
button {
  background-color: rgb(187, 187, 236);
  color: white;
  border-radius: 4px;
  padding: 0.5rem;
  cursor: pointer;
}
/* changed the background color of the list of breweries */
.brewery-container {
  background-color: rgb(24, 202, 202);
}
/* Centered and colored the list of breweries and the list of favorites */
.results-container,
.favorites-container {
  display: block;
  justify-content: center;
  background-color: rgb(24, 202, 202);
  border: 2px solid black;
}
/* added borders */
.resultsDiv {
  margin-bottom: 40px;
  color: black;
  background-color: rgb(160, 166, 172);
  text-align: center;
}
/* Centered the headers for both the results and favorites */
.results-container-header,
.favorites-container-header {
  text-align: center;
}
/* spacing for results added to favorites list */
.brewFave {
  padding: 1.2rem;
  margin-bottom: 1rem;
  background-color: white;
}
/* added text decoration for headers */
.h2ForHeader {
  text-decoration: underline;
}
/* changed the mouse action when hovering over brewery name */
.breweryDataName {
  cursor: pointer;
}
/* centered the footer */
.footer {
  text-align: center;
}
/* added a media query for the bubble */
@media screen and (max-width: 600px) {
    .buble {
        top: -3px;
        left: 50px;
        line-height: 1rem;
    }
  }
